.btn {
  display: block;
  padding: 13px 10px;
  text-align: center;
  border: 2px solid @color-secondary;
  color: @color-secondary;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    @media (min-width: @tablet-width) {
      background-color: @color-secondary;
      color: #ffffff;
    }
  }

  &:active {
    background-color: @color-secondary;
    color: rgba(255, 255, 255, 0.3);
  }
}
