.contacts {
  &__field {
    padding: 40px 30px;
    padding-bottom: 0px;
  }

  &__title {
    padding-bottom: 40px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  &__label {
    line-height: 30px;
    color: @color-secondary;
  }

  &__text {
    line-height: 30px;
    color: @color-secondary;

    &--link {
      border-bottom: 1px solid #62d1ba;
      cursor: pointer;

      &:active {
        color: rgba(70, 193, 174, 0.3);
        border-color: rgba(98, 209, 186, 0.3);
      }
    }
  }

  &__map-img {
    display: block;
  }

  &__btn {
    width: 260px;
    margin: 40px 30px;
  }
}
