.field-text {
  display: block;
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    width: 501px;
    display: flex;
    align-items: baseline;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  &__label {
    display: block;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 10px;

    @media (min-width: @tablet-width) {
      margin-right: 25px;
      margin-bottom: 0px;
      font-size: 19px;
    }
  }

  &__input {
    width: 100%;
    padding: 15px 0px;
    color: rgba(68, 68, 68, 1);
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    border: none;
    outline: none;
    border-bottom: 2px solid @color-main;

    @media (min-width: @tablet-width) {
      font-size: 19px;
      flex-grow: 1;
    }

    &--bg-gray {
      @media (min-width: @tablet-width) {
        background-color: #f1f1f1;
      }
    }
  }

  &__input:focus {
    border-color: #62d1ba;
  }
}
::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}
