.main-footer {
  padding: 0px 30px;
  background-color: #f1f1f1;

  &__logo {
    display: none;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80px;
    border-bottom: 1px solid #e5e5e5;
  }

  &__copyright {
    min-height: 80px;
    padding: 23px 0px;
    text-align: center;
  }

  &__copyright-link {
    font-size: 19px;
    line-height: 34px;
    font-weight: 700;
    color: @color-main;

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
